<app-add-product></app-add-product>

<table class="table">
  <thead>
    <tr>
      <th>
        <mdb-icon fas icon="leaf" class="mr-2 blue-text" aria-hidden="true">#</mdb-icon>
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="mr-2 teal-text" aria-hidden="true"></mdb-icon>Name
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>Price
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>Image
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>Category
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>@
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <mdb-icon far icon="gem" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{product.id}}
      </td>
      <td>
        <mdb-icon fas icon="book" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{product.name}}
      </td>
      <td>
        <mdb-icon fas icon="book" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{product.price}}
      </td>
      <td>
        <mdb-icon fas icon="book" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{product.image}}
      </td>
      <td>
        <mdb-icon fas icon="book" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{product.category.name}}
      </td>
      <td>
        <mdb-icon fas icon="brain" class="mr-2 grey-text" aria-hidden="true"></mdb-icon><app-update-product [editProduct]="product"></app-update-product>
      </td>
    </tr>
  </tbody>
</table>