<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
        </div>
        <div class="inbox_chat">
          <div (click)="loadChats(chat)" *ngFor="let chat of chats" class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img class="img-rd"
                  src="https://localhost:44395/Images/UsersIcons/{{chat.user2.image}}" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>{{chat.user2.username}} <span *ngIf="chat.messages[chat.messages.length-1]!=undefined"
                    class="chat_date">{{getCorrectTime(chat.messages[chat.messages.length-1].date)}}</span></h5>
                <p *ngIf="chat.messages[chat.messages.length-1]!=undefined">{{chat.messages[chat.messages.length-1].text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <!--<div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM | June 9</span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM | June 9</span>
            </div>
          </div>-->
          <div *ngFor="let message of current_messages">
            <div *ngIf="message.user.username!=profile.username" class="incoming_msg">
              <div class="incoming_msg_img"> <img class="img-rd-sm"
                  src="https://localhost:44395/Images/UsersIcons/{{message.user.image}}" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{message.text}}</p>
                  <span class="time_date">{{getCorrectDate(message.date)}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="message.user.username==profile.username" class="outgoing_msg">
              <div class="sent_msg">
                <p>{{message.text}}</p>
                <span class="time_date">{{getCorrectDate(message.date)}}</span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="current_chat.user1!=undefined">
        <div *ngIf="current_chat.user1.username!=''" class="type_msg">
          <div class="input_msg_write">
            <form>
              <input [(ngModel)]="message.text" name="text" type="text" class="write_msg" placeholder="Type a message" />
              <button (click)="sendMessage()" class="msg_send_btn" type="submit"><i
                  class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>