<app-add-category></app-add-category>
<table class="table">
  <thead>
    <tr class="table-dark grad-blue">
      <th>
        <mdb-icon fas icon="leaf" class="mr-2 dark-text" aria-hidden="true">#</mdb-icon>
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="mr-2 dark-text" aria-hidden="true"></mdb-icon>Name
      </th>
      <th>
        <mdb-icon fas icon="leaf" class="mr-2 dark-text" aria-hidden="true"></mdb-icon>@
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories" class="table-dark">
      <td>
        <mdb-icon far icon="gem" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{category.id}}
      </td>
      <td>
        <mdb-icon fas icon="book" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>{{category.name}}
      </td>
      <td>
        <mdb-icon fas icon="brain" class="mr-2 grey-text" aria-hidden="true"></mdb-icon><app-update-category [editCategory]="category"></app-update-category>
      </td>
    </tr>
  </tbody>
</table>