<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="text-light">
<div class="panel">
    <img class="pic img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
    <div class="name"><small>User full name</small></div>
    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>
</div>
<ul class="list-group list-group-horizontal-md mt-10">
    <li class="list-group-item"><a>Chat</a></li>
    <li class="list-group-item"><a>Friends</a></li>
    <li class="list-group-item"><a>Requests</a></li>
  </ul>

<div class="tab-content">


</div>

</div>