<div class="text-light">
  <div class="panel grad-blue row">
    <div class="col-lg-6 row">
      <img class="pic img-circle col-lg-6" src="https://localhost:44395/Images/UserIcons/default-user-image.png" alt="...">
      <div class="name col-lg-6"><small>{{profile.username}}</small></div>
    </div>
    
  </div>
  <mat-tab-group>
    <mat-tab label="Posts"> Content 1 </mat-tab>
    <mat-tab label="Friends"> Content 2 </mat-tab>
    <mat-tab label="Settings"> Content 3 </mat-tab>
  </mat-tab-group>
  

</div>