<div class="text-light">
  <div class="panel grad-blue row">
    <div class="col-lg-6 row">
      <div class="col-lg-6">
        <img class="pic-md img-circle" src="https://localhost:44395/Images/UsersIcons/{{profile.image}}" alt="...">
      </div>
      <form [formGroup]="formDoc">
        <mat-form-field>
          <ngx-mat-file-input [(ngModel)]="files_" type="file" name="file"
            placeholder="Upload your profile picture" valuePlaceholder="No file selected"
            (change)="photoChange($any(target($event).files))"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="formDoc.hasError('required')">
            Please select a file
          </mat-error>
          <mat-error *ngIf="formDoc.hasError('maxContentSize')">
            The total size must not exceed {{formDoc.get('requiredfile')?.getError('maxContentSize').maxSize |
            byteFormat}} ({{formDoc.get('requiredfile')?.getError('maxContentSize').actualSize
            | byteFormat}}).
          </mat-error>
        </mat-form-field>
        <button mdbBtn color="red" [block]="true" class="my-4" type="submit" (click)="changePic()">Submit</button>
      </form>
      <div class="name col-lg-6">
        <small>{{profile.username}}</small>
        <br>
        <small class="small-text">{{profile.alias}}</small>
      </div>
    </div>

  </div>
  <mat-tab-group>
    <mat-tab label="Posts">
      <app-posts [profile]="profile"></app-posts>
    </mat-tab>
    <mat-tab label="Friends">
      <app-friends [profile]="profile"></app-friends>
    </mat-tab>
    <mat-tab label="Invites">
      <mat-list>
        <mat-list-item *ngFor="let invite of invites" class="panel">
          <img class="img-circle-sm mr-2" src="https://localhost:44395/Images/UsersIcons/{{invite.image}}" alt="...">
          {{invite.username}}
          <button (click)="accept(invite.username)" mat-flat-button color="warn" class="float-right">Accept</button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>


</div>