     	  
    .pic-md
    {
        object-fit: cover;
        width:10vh;
        height:10vh;
        border-radius: 50%;
    }
    
    .panel
    {
        padding: 1% 5%;
        background: rgb(48, 48, 48);
        margin-bottom: 1%;
    }
    
    .name
    {
        font-size:30px;
    }
    
    .dropdown
    {
        position:absolute;
    }
    
    .change
    {
     position:relative; 
     bottom:20px;
     padding:1px;
     color:white;
     text-decoration:none;
    }
    
    
    .change:hover
    {
     text-decoration:none;
     background-color:black;
     color:white;
    }                  
.mt-10{
    top: 1vh;
}
.vertical-ul>*{
    display: inline;
}
.float-right{
    position: absolute;
    right: 1%;
}
.img-circle-sm{
    object-fit: cover;
    width:3vh;
    height:3vh;
    border-radius: 50%;
}