     	  
    .pic
    {
        object-fit: cover;
        max-width:15vh;
        max-height:15vh;
    }
    
    .panel
    {
        padding: 1% 5%;
        background: rgb(48, 48, 48);
        margin-bottom: 1%;
    }
    
    .name
    {
        font-size:30px;
    }
    
    .dropdown
    {
        position:absolute;
    }
    
    .change
    {
     position:relative; 
     bottom:20px;
     padding:1px;
     color:white;
     text-decoration:none;
    }
    
    
    .change:hover
    {
     text-decoration:none;
     background-color:black;
     color:white;
    }                  
.mt-10{
    top: 1vh;
}
.vertical-ul>*{
    display: inline;
}