<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
  </div>

  <div class="col text-light">
    <div class="row">
      <div class="col mb-3 bg">
        <div class="card bg">
          <div class="card-body bg">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded dbg" style="height: 140px; background-color: rgb(233, 236, 239); border-radius: 50%;
                    background-image: url(https://localhost:44395/Images/UsersIcons/{{profile.image}});
                    ">
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <div class="mt-2">
                      <mat-form-field>
                        <ngx-mat-file-input [(ngModel)]="files_" type="file" name="file" formControlName="requiredfile" placeholder="Upload your profile picture" valuePlaceholder="No file selected" (change)="photoChange($any(target($event).files))"></ngx-mat-file-input>
                        <mat-icon matSuffix>folder</mat-icon>
                        <mat-error *ngIf="formDoc.hasError('required')">
                          Please select a file
                        </mat-error>
                        <mat-error *ngIf="formDoc.hasError('maxContentSize')">
                          The total size must not exceed {{formDoc.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}} ({{formDoc.get('requiredfile')?.getError('maxContentSize').actualSize
                          | byteFormat}}).
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">

                    <div class="form-row mb-4">
                      <div class="col">
                        <div class="example-container">
                          <mat-form-field class="example-full-width">
                            <mat-label>Enter your username</mat-label>
                            <input [(ngModel)]="res_profile.username" type="text" matInput placeholder="Username" [formControl]="username" required>
                            <mat-error *ngIf="username.invalid">{{getErrorMessage2()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Enter your alias</mat-label>
                          <input [(ngModel)]="res_profile.alias" name="alias" type="text" matInput placeholder="Alias" [formControl]="alias" required>
                          <mat-error *ngIf="alias.invalid">{{getErrorMessage2()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="example-container">
                      <mat-form-field class="example-full-width">
                        <mat-label>Enter your email</mat-label>
                        <input [(ngModel)]="res_profile.email" type="email" matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage1()}}</mat-error>
                      </mat-form-field>
                    </div>
                  

                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button mdbBtn color="red" [block]="true" class="my-4" type="submit" (click)="saveChanges()">Save changes</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
      </div>
    </div>

  </div>
</div>
</div>