<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
  </div>

  <div class="col text-light">
    <div class="row">
      <div class="col mb-3 bg">
        <div class="card bg">
          <div class="card-body bg">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded dbg" style="height: 140px; background-color: rgb(233, 236, 239); border-radius: 50%;">
                      <span style="color: rgb(255, 255, 255); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                    <p class="mb-0">@johnny.s</p>
                    <div class="mt-2">
                      <button mat-flat-button color="warn">Change Photo</button>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">

                    <div class="form-row mb-4">
                      <div class="col">
                        <div class="example-container">
                          <mat-form-field class="example-full-width">
                            <mat-label>Enter your username</mat-label>
                            <input [(ngModel)]="user.username" type="text" matInput placeholder="Username" [formControl]="username" required>
                            <mat-error *ngIf="username.invalid">{{getErrorMessage2()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Enter your alias</mat-label>
                          <input [(ngModel)]="user.alias" type="text" matInput placeholder="Alias" [formControl]="username" required>
                          <mat-error *ngIf="username.invalid">{{getErrorMessage2()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="example-container">
                      <mat-form-field class="example-full-width">
                        <mat-label>Enter your email</mat-label>
                        <input [(ngModel)]="user.email" type="email" matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage1()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="example-container">
                      <mat-form-field class="example-full-width">
                      <mat-label>Enter your password</mat-label>
                      <input [(ngModel)]="user.password" type="password" matInput placeholder="***" [formControl]="password" required>
                      <mat-error *ngIf="password.invalid">{{getErrorMessage3()}}</mat-error>
                    </mat-form-field>
                  </div>
                    
                    <div class="example-container">
                      <mat-form-field class="example-full-width">
                      <mat-label>Re-enter your password</mat-label>
                      <input [(ngModel)]="re_enter_pass" type="password" matInput placeholder="***" [formControl]="password" required>
                      <mat-error *ngIf="password.invalid">{{getErrorMessage3()}}</mat-error>
                    </mat-form-field>
                  </div>
                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                      At least 8 characters and 1 digit
                    </small>
                    <mat-form-field class="example-full-width" class="example-full-width">
                      <mat-label>Birthday</mat-label>
                      <input [(ngModel)]="user.birth" (dateInput)="addEvent('input', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                      Enter your birthday
                    </small>

                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button mat-flat-button color="warn">Save Change</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
      </div>
    </div>

  </div>
</div>
</div>